    <!-- Bottom Nav Start -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6>&copy; 2021 Lester Dan Goze. All rights reserved <h6>
      </div>
    </nav>
    <!-- Bottom Nav End -->