    <!-- Main Content Start-->
    <div id="main" class="container text-center">
      <!-- Added fade to title -->
        <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>     
    </div>

<div class="container">
  <div id="content" class="row">
    <div class="col-sm"><p><%= content %></p></div>
    <div class="col-sm"><%= images %>
    </div>
  </div>
</div>

    <!-- Main Content End -->
