<!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #34b4eb">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="logo.jpg" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

             <!-- Modified a class instead of li class to have the active link respond -->
           
            <li class="nav-item">              
              <% if (title == "Home") { %>
              <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home </a>
              <% } else { %> 
              <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
              <% } %>
            </li>

            <li class="nav-item">
              <% if (title == "About Me") { %>
              <a class="nav-link active" href="/about"><i class="far fa-address-card"></i> About Me</a>
              <% } else { %>
              <a class="nav-link" href="/about"><i class="far fa-address-card"></i> About Me</a>
              <% } %>              
            </li>          

            <li class="nav-item">
              <% if (title == "Projects") { %>
              <a class="nav-link active" href="/projects"><i class="fas fa-server"></i> Projects</a>
              <% } else { %>
              <a class="nav-link" href="/projects"><i class="fas fa-server"></i> Projects</a>
              <% } %>  
            </li>

              <li class="nav-item">
              <% if (title == "Services") { %>
              <a class="nav-link active" href="/services"><i class="fas fa-tasks"></i> Services</a>
              <% } else { %>
              <a class="nav-link" href="/services"><i class="fas fa-tasks"></i> Services</a>
              <% } %>               
            </li>

            <li class="nav-item">
              <% if (title == "Contact Me") { %>
              <a class="nav-link active" href="/contact"><i class="fas fa-mobile-alt"></i> Contact Me</a>
              <% } else { %>
              <a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact Me</a>
              <% } %>               
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->