    <!-- Bottom Nav Start -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><h6>&copy; 2021 Lester Dan Goze. All rights reserved <h6></a>
      </div>
    </nav>
    <!-- Bottom Nav End -->