    <!-- Main Content Start-->
    <div id="main" class="container text-center">
      <!-- Added fade to title -->
        <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>     
    </div>

<div class="container">
  <div id="content" class="row">
    <div class="col-sm"><p><h2>Hello there! My name is Lester Dan Goze and I'm a 2nd year student at Centennial College.
    This is my 3rd semester of the Software Engineering Technician Program and Ive so far enjoyed the journey.
    After I graduate, I hope to become a full stack developer and make a lot of interesting apps and websites along the way
    When I'm not busy doing assignments and reading lecture notes, I enjoy playing video games and riding trails on my bike.
    Have a look around my website and will be updating it as the weeks progress.
    Feel free to check out my contact page if you want to get a hold of me! I frequently check my emails respond within 2 days.
    "***************************************Include PDF copy of resume here</p></div>
    <div class="col-sm">
   <div class="rectangle">
     <h6> Click on icon to download PDF copy of my resume 
      <a href="/assets/docs/Resume.PDF" title="Resume"><i class="fas fa-download fa-9x"></i></a> </h6>
  </div>

    </div>
  </div>
</div>

    <!-- Main Content End -->