    <!-- Main Content Start-->
    <div id="main" class="container text-center">
      <!-- Added fade to title -->
        <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>     
    </div>

<div class="container">
  <div id="content" class="row">
    <div class="col-sm"><p><%= content %></p></div>
    <div class="col-sm">
    " MISSION STATEMENT: LG inc. is committed to provide unparalleled software solutions with the business and user experience in mind." +
        " We will comply to the regulations and code of conducts as part of our responsibility in securing a strong relationship with our company partners and the public." +
        " LG inc.’s ethical values is the foundation of our company and will continue to be our priority."

    </div>
  </div>
</div>

    <!-- Main Content End -->