<!-- Main Content Start-->
<div id="main" class="container text-center">
  <!-- Added fade to title -->
    <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>     
</div>

<div class="container">
  <div id="content" class="row">
    <h2>Completed and Current Projects</h2> <br><br>
    <h4>I have not completed too many projects yet, but I will update as time passes and as the course progresses. Instead I'll share my experiences so far.</h4>
    <br><br>
    <div class="col-sm">
      <img id="mainlogo" src="/assets/images/ramsticks.jpg" height="200px" alt="">
      <h3>Project: Hardware</h3>
      <p>One of my first projects was building a computer. I didn't know how they worked until I got into PC gaming. I had a prebuilt pc that had decent specs but wasn't 
      capable of running the games my friends were playing. So little by little, I upgrade the hard drive, ram, cpu fan,
    and eventually I installed a second hand graphics card. I eventually saved up enough money to build a brand new pc from scratch and thoroughly
  enjoyed the process. After years of building more computers for myself and friends, I decided to dive into the software side and learn more about the
hobby I enjoyed doing. Which is how I became interested in Software Development.</p>
    </div>
    <div class="col-sm">
      <img id="mainlogo" src="/assets/images/coding.jpeg" height="200px" alt="">
      <h3>Project: Hello, World!</h3>
      <p>I have completed several coding projects now and I've come to realize how challenging a career as a software developer is. Though,
        it's these types of challenges that make for an interesting long term career. It requires discipline and resourcefulness which I 
      strongly believe is attainable through hard work and perseverance. Characteristics that are important in a work setting and 
    social setting. </p>
    </div>
   
     <div class="col-sm">
      <img id="mainlogo" src="/assets/images/collaborating.jpg" height="200px" alt="">
      <h3>Project: Collaboration</h3>
      <p>I'm excited to begin working on actual projects with a group of people and build new experiences on how real world 
        application is like. We currently have classes that require us to make SRS documents to prepare is in reading and
        understanding the specifications of an application. The journey may seem like an uphill battle, but there's excitement for what lies ahead.
      </p>
    </div>
  </div>
</div>