<!-- Main Content Start-->
<div id="main" class="container text-center">
  <!-- Added fade to title -->
    <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>     
</div>

<div class="container">
  <div id="content" class="column">
    <div class="col-md"><h2>Current Projects</h2> <br><br>
    <h4>I have not completed too many projects yet, but I will update as time passes and as the course progresses.</h4>
    </div>
    <div class="col-sm">
   <div class="rectangle">
     <img id="mainlogo" src="/assets/images/ramsticks.jpg" height="200px" alt=""><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur debitis incidunt consectetur a, animi ipsum sapiente eligendi quae deleniti laborum beatae nulla amet eaque ratione culpa repellat dicta, nostrum placeat.</p>
     <img id="mainlogo" src="/assets/images/coding.jpeg" height="200px" alt="">
     <img id="mainlogo" src="/assets/images/collaborating.jpg" height="200px" alt="">
  </div>

    </div>
  </div>
</div>

    <!-- Main Content End -->