<!-- Main Content Start-->
<div id="main" class="container text-center">
  <!-- Added fade to title -->
    <h1>Welcome to the <small class="text-muted"><%= title %></small> page</h1>     
</div>

<div class="container">
  <div id="content" class="column">
  <div class="col-sm">
      <img id="mainlogo" src="/assets/images/ramsticks.jpg" height="200px" alt="">
    <h2>Our Services:</h2> <br><br>
    <h4>We offer a range of services to meet you business solution needs such as:</h4>
    <ul>
      <li>Data Recovery</li>
      <li>Software Consultation</li>
      <li>Web Applications</li>
    </ul>
    
    </div>
    <div class="col-sm">
      <img id="mainlogo" src="/assets/images/hdd.jpeg" height="200px" alt="">
<img id="mainlogo" src="/assets/images/consult.png" height="200px" alt="">
<img id="mainlogo" src="/assets/images/softarch.jpg" height="200px" alt="">
<img id="mainlogo" src="/assets/images/html.png" height="200px" alt="">
    </div>
   
     <div class="col-sm">
      <img id="mainlogo" src="/assets/images/collaborating.jpg" height="200px" alt="">
      <h2>Please see our contact page for any inquiries.</h2>

    </div>
  </div>
</div>